# Xcode
.DS_Store
build/
*.pbxuser
!default.pbxuser
*.mode1v3
!default.mode1v3
*.mode2v3
!default.mode2v3
*.perspectivev3
!default.perspectivev3
xcuserdata/
*.xccheckout
*.moved-aside
DerivedData/
.idea/
*.xcworkspace

# CocoaPods
Pods/
Podfile.lock

# Swift Package Manager
.swiftpm/
.build/

# Carthage
Carthage/Build/

# fastlane
fastlane/report.xml
fastlane/Preview.html
fastlane/screenshots
fastlane/test_output
*.lock

# Xcode-specific files
*.xcuserstate
*.xcscmblueprint

# User-specific files
*.xcuserdatad

# Other
ActiolD.xcodeproj/project.pbxproj
ActiolD.xcodeproj/project.xcworkspace/contents.xcworkspacedata
ActiolD.xcodeproj/project.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ActiolD.xcodeproj/project.xcworkspace/xcuserdata/*.xcuserdatad
ActiolD.xcodeproj/xcshareddata/xcschemes/*.xcscheme
ActiolD.xcodeproj/xcuserdata/*.xcuserdatad/xcschemes/xcschememanagement.plist
ActiolD.xcworkspace/contents.xcworkspacedata
ActiolD.xcworkspace/xcshareddata/IDEWorkspaceChecks.plist
ActiolD.xcworkspace/xcuserdata/*.xcuserdatad/UserInterfaceState.xcuserstate

# Ignore build files
Build/
ActiolD_*.txt

# GoogleService-Info.plist
GoogleService-Info.plist

ActioID/.DS_Store
ActioID/.DS_Store
/ActioID
/ActioID
