<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>SchemeUserState</key>
	<dict>
		<key>ActioID.xcscheme_^#shared#^_</key>
		<dict>
			<key>orderHint</key>
			<integer>54</integer>
		</dict>
		<key>ActionId.xcscheme_^#shared#^_</key>
		<dict>
			<key>isShown</key>
			<false/>
			<key>orderHint</key>
			<integer>55</integer>
		</dict>
	</dict>
	<key>SuppressBuildableAutocreation</key>
	<dict>
		<key>1897F58A2C2714CD00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1897F59A2C2714CE00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1897F5A42C2714CE00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1897F5F92C293DEA00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1897F6082C293DED00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
		<key>1897F6122C293DED00D851E6</key>
		<dict>
			<key>primary</key>
			<true/>
		</dict>
	</dict>
</dict>
</plist>
