<?xml version="1.0" encoding="UTF-8"?>
<!DOCTYPE plist PUBLIC "-//Apple//DTD PLIST 1.0//EN" "http://www.apple.com/DTDs/PropertyList-1.0.dtd">
<plist version="1.0">
<dict>
	<key>API_KEY</key>
	<string>AIzaSyCVq77VuN2TyFd2p6DdANfL1GdlchxxlfE</string>
	<key>GCM_SENDER_ID</key>
	<string>133819222998</string>
	<key>PLIST_VERSION</key>
	<string>1</string>
	<key>BUNDLE_ID</key>
	<string>berhtech.ActioID</string>
	<key>PROJECT_ID</key>
	<string>actioid</string>
	<key>STORAGE_BUCKET</key>
	<string>actioid.appspot.com</string>
	<key>IS_ADS_ENABLED</key>
	<false></false>
	<key>IS_ANALYTICS_ENABLED</key>
	<false></false>
	<key>IS_APPINVITE_ENABLED</key>
	<true></true>
	<key>IS_GCM_ENABLED</key>
	<true></true>
	<key>IS_SIGNIN_ENABLED</key>
	<true></true>
	<key>GOOGLE_APP_ID</key>
	<string>1:133819222998:ios:fb20be0c5f22bad0b0f277</string>
</dict>
</plist>